{% extends 'store/base.html' %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block content %}
{% include 'store/navbar.html' %}
    <style>
  .cid-tZQRXE6Suz {
    display: flex;
    background-image: url("{% static 'store/img/photo-1592317295760-5c1f677dfc78.jpeg' %}");
  }
  .cid-tZQRXE6Suz .mbr-overlay {
    background-color: #000000;
    opacity: 0.5;
  }
  @media (min-width: 768px) {
    .cid-tZQRXE6Suz {
      align-items: flex-end;
    }
    .cid-tZQRXE6Suz .row {
      justify-content: center;
    }
    .cid-tZQRXE6Suz .content-wrap {
      padding: 1rem 3rem;
    }
  }
  @media (max-width: 991px) and (min-width: 768px) {
    .cid-tZQRXE6Suz .content-wrap {
      min-width: 50%;
    }
  }
  @media (max-width: 767px) {
    .cid-tZQRXE6Suz {
      -webkit-align-items: center;
      align-items: flex-end;
    }
    .cid-tZQRXE6Suz .mbr-row {
      -webkit-justify-content: center;
      justify-content: center;
    }
    .cid-tZQRXE6Suz .content-wrap {
      width: 100%;
    }
  }
  .cid-tZQRXE6Suz .mbr-section-title,
  .cid-tZQRXE6Suz .mbr-section-subtitle {
    text-align: center;
  }
  .cid-tZQRXE6Suz .mbr-text,
  .cid-tZQRXE6Suz .mbr-section-btn {
    text-align: center;
  }
</style>
<section class="header16 cid-tZQRXE6Suz mbr-fullscreen mbr-parallax-background" id="hero-17-tZQRXE6Suz">
  <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-10">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong>About Us</strong>
        </h1>
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}