{% extends 'store/base.html' %}
{% load static %}
{% block title %}Products{% endblock %}
{% block content %}
{% include 'store/header_secondary.html' %}
    <style>
    .cid-tZQRXE9pSn {
        padding-top: 5rem;
        padding-bottom: 3rem;
        background-color: #ffffff;
    }

    .cid-tZQRXE9pSn .item-subtitle {
        line-height: 1.2;
        color: #000000;
    }

    .cid-tZQRXE9pSn img,
    .cid-tZQRXE9pSn .item-img {
        width: 100%;
        height: 100%;
        height: 300px;
        object-fit: cover;
    }

    .cid-tZQRXE9pSn .item:focus,
    .cid-tZQRXE9pSn span:focus {
        outline: none;
    }

    .cid-tZQRXE9pSn .item {
        margin-bottom: 2rem;
    }

    @media (max-width: 767px) {
        .cid-tZQRXE9pSn .item {
            margin-bottom: 1rem;
        }
    }

    .cid-tZQRXE9pSn .item-wrapper {
        position: relative;
        border-radius: 4px;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
    }

    .cid-tZQRXE9pSn .mbr-section-title {
        color: #000000;
    }

    .cid-tZQRXE9pSn .mbr-text,
    .cid-tZQRXE9pSn .mbr-section-btn {
        color: #000000;
    }

    .cid-tZQRXE9pSn .item-title {
        color: #000000;
    }

    .cid-tZQRXE9pSn .content-head {
        max-width: 800px;
    }
</style>
<section class="blog-2 cid-tZQRXE9pSn" id="blog-2-tZQRXE9pSn">
    <div class="container-fluid">
        <div class="row justify-content-center mb-5">
            <div class="col-12 content-head">
                <div class="mbr-section-head">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Products</strong>
                    </h4>
                </div>
            </div>
        </div>
        <div class="container">
            <form method="GET" action="{% url 'products' %}">
                <div class="row align-items-center justify-content-center mb-5"">
                    <div class="col-sm-3 my-1">
                        <select class="form-control small-text" name="category">
                            <option selected value="">Ընտրել ըստ տեսակի</option>
                            {% for category in categories %}
                            <option value="{{ category.0 }}">{{ category.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-sm-3 my-1">
                        <select class="form-control small-text" name="tag">
                            <option selected value="">Ընտրել ըստ քարի</option>
                            {% for tag in tags %}
                            <option value="{{ tag.tag }}">{{ tag.tag }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mbr-section-btn col-md-auto my-1">"
                        <button class="btn btn-black-outline display-7" type="submit">Ֆիլտր</button>
                    </div>
            </form>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="item features-image col-12 col-md-6 col-lg-3 active">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="{{ product.image.url }}">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style mt-0 mb-3 display-7">
                            {{ product.tag }}
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-5">
                            <strong>{{ product.title }}</strong>
                        </h6>

                        <div class="mbr-section-btn item-footer">
                            <a href="{% url 'product' product.id %}" class="btn item-btn btn-primary display-7">
                                Explore
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
