{% extends 'store/base.html' %}
{% block content %}
{% include 'store/header_secondary.html' %}
    <style>
.cid-tZQRXEaI6v {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: transparent;
}
.cid-tZQRXEaI6v .mbr-fallback-image.disabled {
  display: none;
}
.cid-tZQRXEaI6v .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tZQRXEaI6v .card-wrapper {
  overflow: hidden;
  background: #ffffff;
}
.cid-tZQRXEaI6v .text-wrapper {
  padding: 4rem 3rem;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tZQRXEaI6v .text-wrapper {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-tZQRXEaI6v .text-wrapper {
    padding: 1.5rem;
  }
}
.cid-tZQRXEaI6v .row {
  align-items: center;
  margin-right: -1rem;
  margin-left: -1rem;
}
.cid-tZQRXEaI6v .row {
  flex-direction: row-reverse;
}
.cid-tZQRXEaI6v .image-wrapper {
  padding: 0 1rem;
}
.cid-tZQRXEaI6v img,
.cid-tZQRXEaI6v .image-wrapper {
  height: 600px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-tZQRXEaI6v img,
  .cid-tZQRXEaI6v .image-wrapper {
    max-height: 350px;
  }
}
.cid-tZQRXEaI6v .mbr-section-title {
  color: #000000;
}
.cid-tZQRXEaI6v .mbr-text {
  color: #000000;
}
</style>
<section class="article05 cid-tZQRXEaI6v" id="generic-text-5-tZQRXEaI6v">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <div class="card-wrapper">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-5 image-wrapper">
              <img class="w-100" src="{{ product.image.url }}">
            </div>
            <div class="col-12 col-lg col-md-12">
              <div class="text-wrapper align-left">
                <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                  <strong>{{ product.title }}</strong>
                </h1>
                <p class="mbr-text mbr-fonts-style mb-3 display-7">{{ product.body }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
```